@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

/*General features*/

body, p, a {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/*Desktop*/

@media (max-width: 1440px) {
  body {
    margin: 0;
  }

  .container-landing {
    background-image: url('images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 30px 50px;
  }

  .logo {
    width: 200px;
  }

}


/*Mobile*/

@media (max-width: 375px) {

  .container-landing {
    background-image: url('images/bg-mobile.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    position:
    min-height: 100vh;
    padding: 30px;
  }

  .logo {
    width: 150px;
  }
}
